<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98436888870-h1l36cahe2iipf6ngb924sahhra22j68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98436888870-h1l36cahe2iipf6ngb924sahhra22j68</string>
	<key>API_KEY</key>
	<string>AIzaSyDDSIymZaqF3XkbdUHsBfgQy4GrPtALCfU</string>
	<key>GCM_SENDER_ID</key>
	<string>98436888870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sathi</string>
	<key>PROJECT_ID</key>
	<string>saathi-9cb01</string>
	<key>STORAGE_BUCKET</key>
	<string>saathi-9cb01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98436888870:ios:fa122a0d594e9d820fa9e7</string>
</dict>
</plist>